[submodule "gitstats"]
	path = gitstats
	url = git@gitorious.org:gitstats/mainline.git
[submodule "encreecia"]
	path = encreecia
	url = git@gitorious.org:encreecia/encreecia.git
[submodule "viewgit"]
	path = viewgit
	url = git@gitorious.org:viewgit/mainline.git
