[submodule "gitstats"]
	path = gitstats
	url = git@gitorious.org:gitstats/mainline.git
[submodule "encreecia"]
	path = encreecia
	url = git@gitorious.org:encreecia/encreecia.git
[submodule "viewgit"]
	path = viewgit
	url = git@gitorious.org:viewgit/mainline.git
[submodule "viewsvn"]
	path = viewsvn
	url = git@gitorious.org:viewsvn/viewsvn.git
[submodule "supybook"]
	path = supybook
	url = git+ssh://repo.or.cz/srv/git/supybook.git
[submodule "dokuwiki-piwik"]
	path = dokuwiki-piwik
	url = git@gitorious.org:dokuwiki-piwik/dokuwiki-piwik.git
[submodule "dokuwiki-piwik-gitorious-wiki"]
	path = dokuwiki-piwik-gitorious-wiki
	url = git@gitorious.org:dokuwiki-piwik/dokuwiki-piwik-gitorious-wiki.git
[submodule "dokuwiki2git"]
	path = dokuwiki2git
	url = git@github.com:hoxu/dokuwiki2git.git
[submodule "html5gameoflife"]
	path = html5gameoflife
	url = git@github.com:hoxu/html5gameoflife.git
[submodule "android-phoneprofiles"]
	path = android-phoneprofiles
	url = git@github.com:hoxu/android-phoneprofiles.git
[submodule "greasemonkey-agilezen-fastfilter"]
	path = greasemonkey-agilezen-fastfilter
	url = git@gitorious.org:greasemonkey-agilezen-fastfilter/greasemonkey-agilezen-fastfilter.git
[submodule "encrb"]
	path = encrb
	url = https://github.com/hoxu/encrb
