[submodule "gitstats"]
	path = gitstats
	url = git@gitorious.org:gitstats/mainline.git
[submodule "encreecia"]
	path = encreecia
	url = git@gitorious.org:encreecia/encreecia.git
[submodule "viewgit"]
	path = viewgit
	url = git@gitorious.org:viewgit/mainline.git
[submodule "viewsvn"]
	path = viewsvn
	url = git@gitorious.org:viewsvn/viewsvn.git
[submodule "supybook"]
	path = supybook
	url = git+ssh://repo.or.cz/srv/git/supybook.git
[submodule "dokuwiki-piwik"]
	path = dokuwiki-piwik
	url = git@gitorious.org:dokuwiki-piwik/dokuwiki-piwik.git
